.container {
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }
  
mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,97,207,1) 0%, rgba(0,212,255,1) 100%);
    text-decoration: double;
    margin-bottom: 2rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.edit {
    color: rgb(67, 120, 211);
}

.delete {
 color: rgb(207, 40, 40);
}