<p>address-view works!</p>
<!-- <div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Atualizar colaborador</h1>
        <img class="fullWidth" src="assets/img/Sewing-woman-vintage.svg" alt="Novo colaborador">
        
          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Rua:</mat-label>
            <input [(ngModel)]="customerAddress.street" name="street" [formControl]="street" required matInput placeholder="Fulano de Tal" maxlength="50">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Número:</mat-label>
            <input [(ngModel)]="customerAddress.number" name="number" [formControl]="number" required matInput placeholder="Fulano de Tal" maxlength="6">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Bairro:</mat-label>
            <input [(ngModel)]="customerAddress.neighborhood" name="neighborhood" [formControl]="neighborhood" required matInput placeholder="Fulano de Tal" maxlength="50">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>CEP:</mat-label>
            <input [(ngModel)]="customerAddress.cep" name="cep" [formControl]="cep" required matInput placeholder="00.000-000"
            mask="00.000-000">
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>

           <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Complemento:</mat-label>
            <input [(ngModel)]="customerAddress.complement" name="complement" [formControl]="complement" required matInput placeholder="Fulano de Tal" maxlength="50">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <button (click)="update()" [disabled]="!validFields()" class="fullWidth mat-elevation-z4" mat-flat-button color="primary">Atualizar</button>
      
          <button routerLink="../../" class="fullWidth mat-elevation-z4" mat-flat-button color="warn">Cancelar</button>
    </form>
    <p class="fullWidth">by Marco Antonio</p>
</div> -->